{% extends "base.html" %}
{% block content %}
		  <div class="col-md-8">
	  			<div class="row" id ="polls-row">
	  				{% block notes %}
			  		{% for note in notes %}
	  				<div class="col-md-6">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
					            <h4>{{ note.title }}</h4>
					        </div>
					        <div class="panel-body">
				  				<div>
				  					{{ note.description }}
				  				</div>
				  				<br>
				  				<div>
				  					<a class="btn btn-primary" href="{{ url_for('user.edit_note', note_id=note.mongo_id ) }}">Edit</a>
				  				</div>
				  				<br>
				  				<div>
				  					<a class="btn btn-primary" href="{{ url_for('user.delete_note', note_id=note.mongo_id ) }}">Delete</a>
				  				</div>
			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  				{% endfor %}
	  				{% endblock %}
	  			</div>
	  		<!--  Page content -->
		  </div>
{% endblock %}